<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>Like & Share</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Anton|Roboto" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="../../vendor/css/likeshare.css"/>
<link rel="stylesheet" type="text/css" href="../../vendor/js/lazyload/lazyload.css"/>
<link rel="stylesheet" type="text/css" href="../../vendor/js/magnificpopup/magnificpopup.css"/>

</head>
<body>
<header>
<span class="logo">L&S</span>
<span class="search_logo glyphicon glyphicon-search"></span>
<div id="search">
	<form action="javascript:void(0);" method="get">

            <input type="text" required value="search like & share" onBlur="if(this.value=='')this.value='search like & share'" onFocus="if(this.value=='search like & share')this.value='' "> <!-- JS because of IE support; better: placeholder="search" -->

            <input type="hidden" value="">

        </form>
</div>
{% block navivation %}
{% endblock %}
</header>

{% block content %}
{% endblock %}

<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <form method="POST" enctype="multipart/form-data">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body edit-content">             	
               <p>
                <input type="text" name="title" placeholder="Add title" />
              </p>
              <p>
                <textarea>Your description</textarea>
              </p>
              <p>
                <label for="image">Upload image :</label>
                <input type="file" name="picture" size="25" id="image" />
              </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" type="submit" name="modal_submit">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

<footer>
<ul>
  <li><a href="#">Conditions générales</a></li>
  <li><a href="#">Mentions légales</a></li>
  <li><a href="#">Confidentialité</a></li>
  <li><a href="#">Support</a></li>
</ul> 
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="../../vendor/js/lazyload/lazyload.js"></script>
<script src="../../vendor/js/magnificpopup/magnificpopup.js"></script>
<script type="text/javascript">
	$('.grid').masonry({
  // options
  itemSelector: '.grid-item',
  columnWidth: 200,
});

$("select").on("click" , function() {
  
  $(this).parent(".select-box").toggleClass("open");
  
});

$(document).ready(function() {

		$(document).mouseup(function (e)
		{
		    var container = $(".select-box");

		    if (container.has(e.target).length === 0)
		    {
		        container.removeClass("open");
		    }
		});


		$("select").on("change" , function() {
		  
		  var selection = $(this).find("option:selected").text(),
		      labelFor = $(this).attr("id"),
		      label = $("[for='" + labelFor + "']");
		    
		  label.find(".label-desc").html(selection);
		    
		});

        $('.image-popup-no-margins').magnificPopup({
          type: 'image',
          closeOnContentClick: true,
          closeBtnInside: false,
          fixedContentPos: true,
          mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
          image: {
            verticalFit: true
          },
          zoom: {
            enabled: false,
            duration: 300 // don't foget to change the duration also in CSS
          }
        });

	    $('#edit-modal').on('show.bs.modal', function(e) {

        var $modal = $(this),
            esseyId = e.relatedTarget.id;

        $.ajax({
            cache: false,
            type: 'POST',
            success: function(data) {
                $modal.find('.edit-content').html(data);
            }
        });

 });
 });
</script>
</body>
</html>